html {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 375px;
  min-height: 674px;
  background-color: #f4f5f7;
}

header ul:nth-child(1) {
  display: none;
}

section.landing_mobile {
  display: none;
}

main.mobile_main {
  display: none;
}

section.contact_me_mobile {
  display: none;
}

header ul:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
  margin-left: 8rem;
  margin-right: 6rem;
}

header ul:nth-child(2) ul {
  display: flex;
  width: 16rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 20px;
}

header ul:nth-child(2) ul li a {
  text-decoration: none;
}

main.desktop_main button {
  display: flex;
  background-color: #fff;
  color: #396df2;
  font-size: 17px;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: fit-content;
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

section.landing_desktop {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  background-color: #f7f7f9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 53rem;
  margin-top: 6rem;
}

section.landing_desktop #dsktop_bgimg {
  background-image: url("./Images/landing_desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  border-bottom-left-radius: 80px;
}

section.contact_me_desktop h1 {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  color: #fff;
  width: 801px;
  height: 56px;
  margin-top: 120px;
  margin-left: 50px;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

section.landing_desktop h1:nth-child(2) {
  font-size: 3rem;
  line-height: 3.75rem;
  width: 28.75rem;
  height: 7.625rem;
  font-weight: 700;
  font-family: 'Poppins', system-ui, Courier, monospace;
  min-height: 9.375rem;
  color: #172b4d;
  text-align: left;
  position: absolute;
  margin-top: 10rem;
  margin-left: 8.5rem;
}

section.landing_desktop p {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  width: 57.5rem;
  height: 6.125rem;
  color: #344563;
  text-align: left;
  margin-top: 18rem;
  margin-left: 8.5rem;
  position: absolute;
}

section.landing_desktop .centered3 {
  font-size: 16px;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  min-width: 117px;
  max-height: 24px;
  color: #7f8cff;
  text-align: left;
  margin-top: 25rem;
  margin-left: 8.5rem;
  position: absolute;
}

section.landing_desktop .centered4 {
  width: 11rem;
  color: #7f8cff;
  text-align: left;
  margin-top: 27rem;
  margin-left: 8.5rem;
  position: absolute;
}

section.landing_desktop .centered4 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 170px;
  list-style: none;
}

main.desktop_main {
  display: grid;
  justify-content: center;
  background-color: #f7f7f9;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

section.desktop_ams .about_part1 h1 {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  font-family: 'Poppins', system-ui, Courier, monospace;
  width: 247px;
  height: 114px;
  margin-left: 142px;
  margin-right: 142px;
  color: #091e42;
  text-align: left;
  margin-top: 10px;
}

main.desktop_main section.work-container11 {
  display: grid;
  position: absolute;
  border-radius: 24px;
  justify-content: center;
  justify-self: center;
  margin-top: 700px;
  margin-bottom: 10px;
  margin-left: 142px;
  margin-right: 142px;
  border: 1px solid #dfe1e6;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  height: 496px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 587px;
}

main.desktop_main section.work-container11 div:nth-child(1) {
  display: flex;
  background-image: url('./Images/desk_tonic1.svg');
  background-repeat: no-repeat;
  margin-top: 10px;
  width: 544px;
  height: 448px;
  border-radius: 8px;
  margin-right: 10px;
}

main.desktop_main section.work-container11 div:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

main.desktop_main section.work-container11 h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Poppins', system-ui, Courier, monospace;
  color: #172b4d;
  text-align: left;
  margin-top: 15px;
}

main.desktop_main section.work-container11 .my-canopy {
  display: flex;
  background-image: url('./Images/CANOPY.svg');
  background-repeat: no-repeat;
  width: 297px;
  height: 40px;
  margin-top: 20px;
}

section.contact_me_desktop p {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  color: #fff;
  width: 569px;
  height: 102px;
  margin-top: 200px;
  margin-left: 250px;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

section.desktop_ams .about_part1 p {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Poppins', system-ui, Courier, monospace;
  width: 447px;
  height: 114px;
  margin-left: 142px;
  margin-right: 142px;
  color: #344563;
  text-align: left;
  margin-top: 10px;
}

main.desktop_main section.work-container11 .desk_main_cont p {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  width: 496px;
  height: 50px;
  color: #344563;
  text-align: left;
  margin-top: 20px;
}

main.desktop_main section.work-container11 .my-buttons {
  display: flex;
  align-items: center;
}

section.desktop_ams .about_part2 ul {
  list-style: none;
}

section.desktop_ams .about_part2 ul li ul {
  display: flex;
  list-style: none;
}

main.desktop_main section.work-container11 .my-buttons ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin-top: 10px;
}

section.desktop_ams .about_part2 ul li ul li {
  display: flex;
  list-style: none;
  width: 100px;
  height: 120px;
}

main.desktop_main section.work-container11 .my-buttons ul li {
  display: flex;
  margin-right: 10px;
  align-items: center;
  text-decoration: none;
}

main.desktop_main section.work-container11 .my-buttons ul li a {
  display: flex;
  text-decoration: none;
}

section.contact_me_desktop form button {
  display: flex;
  background-color: #fff;
  color: #396df2;
  font-size: 17px;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: fit-content;
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 142px;
  margin-right: 142px;
  align-items: center;
  justify-content: center;
}

section.desktop_ams .about_part1 button {
  display: flex;
  background-color: #fff;
  color: #396df2;
  font-size: 17px;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: fit-content;
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 142px;
  margin-right: 142px;
  align-items: center;
  justify-content: center;
}

section.contact_me_desktop form button:hover {
  background-color: #6070ff;
  color: #fff;
}

section.contact_me_desktop form button:active {
  background-color: blue;
  color: #fff;
}

section.contact_me_desktop form button:disabled {
  color: #aaa;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 8px;
}

section.desktop_ams .about_part1 button:hover {
  background-color: #6070ff;
  color: #fff;
}

section.desktop_ams .about_part1 button:active {
  background-color: blue;
  color: #fff;
}

section.desktop_ams .about_part1 button:disabled {
  color: #aaa;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 8px;
}

main.desktop_main section.work-container11 .my-buttons button {
  display: flex;
  width: fit-content;
  height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  background: #ebebff;
  justify-content: center;
  border: 1px solid #ebebff;
  border-radius: 8px;
  align-items: center;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

main.desktop_main section.work-container22 .my-buttons button {
  display: flex;
  width: fit-content;
  height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  background: #ebebff;
  justify-content: center;
  border: 1px solid #ebebff;
  border-radius: 8px;
  align-items: center;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

main.desktop_main section.work-container33 .my-buttons button {
  display: flex;
  width: fit-content;
  height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  background: #ebebff;
  justify-content: center;
  border: 1px solid #ebebff;
  border-radius: 8px;
  align-items: center;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

main.desktop_main section.work-container44 .my-buttons button {
  display: flex;
  width: fit-content;
  height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  background: #ebebff;
  justify-content: center;
  border: 1px solid #ebebff;
  border-radius: 8px;
  align-items: center;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

main.desktop_main section.work-container11 .desk_main_cont button:hover {
  background-color: #6070ff;
  color: #fff;
}

main.desktop_main section.work-container11 .desk_main_cont button:active {
  background-color: blue;
  color: #fff;
}

main.desktop_main section.work-container11 .desk_main_cont button:disabled {
  color: #aaa;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 8px;
}

main.desktop_main section.work-container22 {
  display: grid;
  position: absolute;
  border-radius: 24px;
  justify-content: center;
  justify-self: center;
  margin-top: 1300px;
  margin-bottom: 10px;
  margin-left: 142px;
  margin-right: 142px;
  border: 1px solid #dfe1e6;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  height: 496px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 587px;
}

main.desktop_main section.work-container22 div:nth-child(1) {
  display: flex;
  background-image: url('./Images/desk_tonic1.svg');
  background-repeat: no-repeat;
  margin-top: 10px;
  width: 544px;
  height: 448px;
  border-radius: 8px;
  margin-right: 10px;
}

main.desktop_main section.work-container22 div:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

main.desktop_main section.work-container22 h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Poppins', system-ui, Courier, monospace;
  color: #172b4d;
  text-align: left;
  margin-top: 15px;
}

main.desktop_main section.work-container22 .my-canopy {
  display: flex;
  background-image: url('./Images/CANOPY.svg');
  background-repeat: no-repeat;
  width: 297px;
  height: 40px;
  margin-top: 20px;
}

main.desktop_main section.work-container22 .desk_main_cont p {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  width: 496px;
  height: 50px;
  color: #344563;
  text-align: left;
  margin-top: 20px;
}

main.desktop_main section.work-container22 .my-buttons {
  display: flex;
  align-items: center;
}

main.desktop_main section.work-container22 .my-buttons ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin-top: 10px;
}

main.desktop_main section.work-container22 .my-buttons ul li {
  display: flex;
  margin-right: 10px;
  align-items: center;
  text-decoration: none;
}

main.desktop_main section.work-container22 .my-buttons ul li a {
  display: flex;
  text-decoration: none;
}

main.desktop_main section.work-container22 .desk_main_cont button:hover {
  background-color: #6070ff;
  color: #fff;
}

main.desktop_main section.work-container22 .desk_main_cont button:active {
  background-color: blue;
  color: #fff;
}

main.desktop_main section.work-container22 .desk_main_cont button:disabled {
  color: #aaa;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 8px;
}

main.desktop_main section.work-container33 {
  display: grid;
  position: absolute;
  border-radius: 24px;
  justify-content: center;
  justify-self: center;
  margin-top: 2000px;
  margin-bottom: 10px;
  margin-left: 142px;
  margin-right: 142px;
  border: 1px solid #dfe1e6;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  height: 496px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 587px;
}

main.desktop_main section.work-container33 div:nth-child(1) {
  display: flex;
  background-image: url('./Images/desk_tonic1.svg');
  background-repeat: no-repeat;
  margin-top: 10px;
  width: 544px;
  height: 448px;
  border-radius: 8px;
  margin-right: 10px;
}

main.desktop_main section.work-container33 div:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

main.desktop_main section.work-container33 h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Poppins', system-ui, Courier, monospace;
  color: #172b4d;
  text-align: left;
  margin-top: 15px;
}

main.desktop_main section.work-container33 .my-canopy {
  display: flex;
  background-image: url('./Images/CANOPY.svg');
  background-repeat: no-repeat;
  width: 297px;
  height: 40px;
  margin-top: 20px;
}

main.desktop_main section.work-container33 .desk_main_cont p {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  width: 496px;
  height: 50px;
  color: #344563;
  text-align: left;
  margin-top: 20px;
}

main.desktop_main section.work-container33 .my-buttons {
  display: flex;
  align-items: center;
}

main.desktop_main section.work-container33 .my-buttons ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin-top: 10px;
}

main.desktop_main section.work-container33 .my-buttons ul li {
  display: flex;
  margin-right: 10px;
  align-items: center;
  text-decoration: none;
}

main.desktop_main section.work-container33 .my-buttons ul li a {
  display: flex;
  text-decoration: none;
}

main.desktop_main section.work-container33 .desk_main_cont button:hover {
  background-color: #6070ff;
  color: #fff;
}

main.desktop_main section.work-container33 .desk_main_cont button:active {
  background-color: blue;
  color: #fff;
}

main.desktop_main section.work-container33 .desk_main_cont button:disabled {
  color: #aaa;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 8px;
}

main.desktop_main section.work-container44 {
  display: grid;
  position: absolute;
  border-radius: 24px;
  justify-content: center;
  justify-self: center;
  margin-top: 2700px;
  margin-bottom: 10px;
  margin-left: 142px;
  margin-right: 142px;
  border: 1px solid #dfe1e6;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  height: 496px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 587px;
}

main.desktop_main section.work-container44 div:nth-child(1) {
  display: flex;
  background-image: url('./Images/desk_tonic1.svg');
  background-repeat: no-repeat;
  margin-top: 10px;
  width: 544px;
  height: 448px;
  border-radius: 8px;
  margin-right: 10px;
}

main.desktop_main section.work-container44 div:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

main.desktop_main section.work-container44 h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Poppins', system-ui, Courier, monospace;
  color: #172b4d;
  text-align: left;
  margin-top: 15px;
}

main.desktop_main section.work-container44 .my-canopy {
  display: flex;
  background-image: url('./Images/CANOPY.svg');
  background-repeat: no-repeat;
  width: 297px;
  height: 40px;
  margin-top: 20px;
}

main.desktop_main section.work-container44 .desk_main_cont p {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  width: 496px;
  height: 50px;
  color: #344563;
  text-align: left;
  margin-top: 20px;
}

main.desktop_main section.work-container44 .my-buttons {
  display: flex;
  align-items: center;
}

main.desktop_main section.work-container44 .my-buttons ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin-top: 10px;
}

main.desktop_main section.work-container44 .my-buttons ul li {
  display: flex;
  margin-right: 10px;
  align-items: center;
  text-decoration: none;
}

main.desktop_main section.work-container44 .my-buttons ul li a {
  display: flex;
  text-decoration: none;
}

main.desktop_main section.work-container44 .desk_main_cont button:hover {
  background-color: #6070ff;
  color: #fff;
}

main.desktop_main section.work-container44 .desk_main_cont button:active {
  background-color: blue;
  color: #fff;
}

main.desktop_main section.work-container44 .desk_main_cont button:disabled {
  color: #aaa;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 8px;
}

section.desktop_ams {
  display: grid;
  position: absolute;
  justify-content: center;
  justify-self: center;
  top: 0;
  margin-top: 3500px;
  margin-bottom: 10px;
  border: 1px solid #dfe1e6;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  height: 550px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 587px;
  border-top-right-radius: 150px;
}

section.desktop_ams .about_part1 .letconnect_text {
  display: flex;
  font-size: 16px;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  min-width: 117px;
  max-height: 24px;
  margin-left: 142px;
  margin-right: 142px;
  color: #7f8cff;
  text-align: left;
  margin-top: 10px;
}

section.desktop_ams .about_part1 .letconnect_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 142px;
  margin-right: 142px;
  min-width: 170px;
  margin-top: 20px;
}

section.desktop_ams .about_part1 .letconnect_icons ul li:hover {
  transform: scale(1.1);
}

section.contact_me_desktop {
  display: grid;
  position: absolute;
  justify-content: center;
  justify-self: center;
  width: 100%;
  top: 0;
  margin-top: 4000px;
  margin-bottom: 10px;
  border: 1px solid #dfe1e6;
  background-color: #6070ff;
  padding-left: 10px;
  padding-right: 10px;
  height: 760px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 587px;
  border-top-left-radius: 150px;
}

section.contact_me_desktop #desktop_contact_img {
  background-image: url("./Images/contact_desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-bottom-left-radius: 80px;
}

section.contact_me_desktop #desktop_contact_content {
  display: flex;
  flex-direction: column;
}

section.contact_me_desktop form {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 447px;
  height: 500px;
  margin-top: 310px;
  margin-left: 250px;
}

section.contact_me_desktop form input {
  background: #fff;
  border: 1px solid #cfd8dc;
  cursor: pointer;
  width: 447px;
  height: 48px;
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: 'Poppins', system-ui, Courier, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

section.contact_me_desktop form textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  font-size: 15px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 8px;
  width: 447px;
  height: 170px;
  margin-bottom: 20px;
}
